<div class='page-title'>Listing users</div>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th>Reports Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.reports.size %></td>
        <td>
          <span><%= link_to 'Edit', edit_user_path(user) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
