<div class='details-container'>
  <h2>User Details</h2>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Reports Count:</strong>
    <%= @user.reports.count %>
  </p>

  <p>
    <strong>Reports:</strong>
    <% @user.reports.each do |report| %>
      <span><%= link_to report.title, report %></span>
    <% end %>
  </p>
</div>
