* { margin: 0; padding: 0; }
html { overflow-y: scroll; min-height: 100%; color: #FFFFFF; width: 100%; }
body { background: none; font-size: 62.5%; min-height: 100%; width: 100%; }
body, textarea, input, select, option, button { color: #000; font-family: Helvetica, sans-serif; outline: none; }

header {
  background: #585858;
  width: 100%;
  padding: 10px;
  box-shadow: -4px 4px 3px #585858;
}

footer {
  background: #585858;
  box-shadow: -4px -4px 3px #585858;
  color: #AC99B1;
  text-shadow: 3px 3px 6px #281F2A;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4em;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

div#reporter_logo {
  letter-spacing: 2px;
  color: #AC99B1;
  text-shadow: 3px 3px 6px #281F2A;
  font-size: 3em;
  font-weight: bold;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

nav a {
  background: rgba(172, 153, 177, 0.5);
  font-size: 1.5em;
  height: 70px;
  color: #585858;
  display: table-cell;
  vertical-align: bottom;
}

nav a:hover {
  background: rgba(172, 153, 177, 0.8);
}

a {
  text-decoration: none;
  margin: 0;
  padding: 9px 16px;
  background: rgba(133, 113, 138, 0.3);
  color: #85718A;
  display: inline-block;
  font-weight: bold;
}

a:hover {
  background: rgba(133, 113, 138, 0.6);
}

table {
  font-size: 1.3em;
  color: #585858;
  border-spacing: 0;
  margin: 33px 0;
  width: 100%;
  text-align: center;
}

thead tr {
  background: #85718A;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background: #F5F5F5;
}

tbody tr:nth-child(even) {
  background: #E7E7E7;
}

th, td {
  padding: 4px 6px;
  box-shadow: 0px 1px 5px #85718A;
}

div.page-title {
  margin: 30px 10px;
  color: #585858;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 5px #AC99B1;
}

div.action-buttons {
  position: absolute;
  right: 0px;
  top: 120px;
  font-size: 1.3em;
}

div.action-buttons a {
  background: none;
  padding: 4px 16px;
  border-left: 1px solid;
}

form {
  margin: 10px 10px 50px;
  font-size: 1.3em;
  color: #585858;
}

label {
  font-weight: bold;
}

input[type='text'], textarea {
  width: 400px;
  outline: none;
  border: 1px solid #AC99B1;
  line-height: 20px;
  height: 25px;
  border-radius: 4px;
  padding: 2px;
  margin: 5px 0;
}

input[type='text']:focus, textarea:focus {
  box-shadow: 0px 0px 9px #AC99B1;
}

textarea {
  height: 90px;
}

input[type='submit'] {
  color: #fff;
  padding: 4px 6px;
  margin: 20px 0px;
  background: #85718A;
  outline: none;
  border: none;
  box-shadow: 2px 1px 7px #585858;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

input[type='submit']:hover {
  background: #AC99B1;
}

input[type='checkbox']:first-of-type {
  margin-top: 5px;
}

#notice {
  color: #5EB87B;
  font-size: 1.3em;
  position: absolute;
  top: 70px;
  left: 10px;
  font-weight: bold;
}

.field_with_errors {
  padding: 8px;
  border-radius: 4px;
  display: table;
  background: rgb(250, 141, 141);
  margin-bottom: 5px;
}

#error_explanation {
  width: 400px;
  padding: 5px 7px 2px;
  margin-bottom: 20px;
  border: 1px solid #fa8d8d;
  border-radius: 4px;
  color: #585858;
  h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #fa8d8d;
  color: #585858;
  border-radius: 4px 4px 0 0;
  }
  ul li {
    list-style: none;
  }
}

div.details-container {
  font-size: 1.3em;
  color: #585858;
  font-weight: bold;
  margin-top: 90px;
  h2 {
    margin: 2px 5px;
  }
  p {
    padding: 10px;
    font-weight: normal;
    margin: 2px 5px;
  }
  p:nth-child(odd) {
    background: rgba(172, 153, 177, 0.3);
  }
  p:nth-child(even) {
    background: rgba(172, 153, 177, 0.5);
  }
  span a {
    background: #fff;
    border: 1px solid;
    padding: 6px 6px;
  }
  span a:hover {
    background: rgba(248, 221, 255, 1);
  }
}

