<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reports Count</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.reports.size %></td>
        <td>
          <%= link_to 'Show', category %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
